<footer class="footer container-fluid">
        <div class="col-xs-4">
            <div class="footer-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/#About">About</a></li>
                    <li><a href="{% url 'posts:list' %}">Blog</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="footer-social">
                <ul>
                    <li><a class="fb-hover" target="_blank" href="https://facebook.com/kyle.andeson">
                        <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="git-hover" target="_blank" href="https://github.com/kanderson102">
                        <i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="li-hover" target="_blank" href="https://www.linkedin.com/in/kyle-anderson-14703a55/">
                        <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a></li>

                </ul>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="footer-creator">
                <ul>
                    <li style='color:#a3a3a3;'>Curated by <a href="#Home">Kyle Anderson</a></li>
                </ul>
            </div>
        </div>
</footer>

