html,body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-image: url("../img/sedona.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
}

.hero-image{

}
.hero-text {
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  top: 40%;
  color: white;
}

.hero-text > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.hero-text > h4 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.profile-circle {
    border-radius: 50%;
}

.about-me {
    background-color: white;
    padding: 50px 50px;
}

div hr#intro-divider {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    border:0;
    border-top: 1px solid #eee;
}


.home-quote p {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Garamond';
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 30px;
    color: white;
}

.question-format{

}
.response-format{

}

.home-projects{
    background-color: white;
    height: 100px;
    padding-top: 50px
    padding-bottom: 50px;
}